<div>
<%= form_for @contact do |f| %>
	Name: <%= f.text_field :name %> <br />
	Email: <%= f.text_field :email %> <br />
	Comment: <%= f.text_field :comment %> <br />
	<%= f.submit %> 
<% end %>
</div>