<h2>Sign up</h2>

<%= form_for(@user, :url => { :action => "create" }) do |f| %>
  <%= devise_error_messages! %>

  <p> Fields marked with * are required </p>
  
  <div><%= f.label "Email *" %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label "Username *" %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label "Password *" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label "Password Confirmation *" %><br />
  <%= f.password_field :password_confirmation %></div>

 
 <!-- ADD EMPLOYER OPTION HERE and extra fields that come with it-->

  <div><%= f.submit "Sign up", class: "btn btn-medium btn-primary" %></div>
<% end %>
