<head>
</head>
<body>
  <h1><%= @resultcount %> Results</h1>
  <div class="search">
  <%= simple_form_for @thing, :url => {:action => 'sort'} do |f| %>
    <%= f.label "Sort Results", params[:value]  %>
    <%= f.input :subject_name, :label => "", collection:['Rating', 'Author A-Z', 'Author Z-A',
      'Date Created', 'School', 'Professor' ] %>
    <%= f.submit "Sort", class: "btn btn-medium btn-success" %>
  <% end %>
  </div>
  <div><% if user_signed_in? %>
        <br/>
        <br/>
  
  <% if @results.any? %>
      <div>
        <% @count = 0
        %><%@results1 = Deck.where(id: 0)
        %><%@results2 = Deck.where(id: 0)
        %><%@results.each do |d|
          %><%if(@count % 2 == 0)
            %><%@results1.push(d)
          %><%elsif(@count % 2 == 1)
              %><%@results2.push(d)
          %>
          <% end %>
          <% @count += 1 %>
      <% end %>
        <table>
          <tr>
            <td style ="vertical-align: top; padding-right: 4em;">
            <%= render partial: 'shared/result', collection: @results1 %>
          </td>
          <td style ="vertical-align: top;">
            <%= render partial: 'shared/result', collection: @results2 %>
          </td>
        </tr>
      </table>

      </div>
      <%= will_paginate @results %>
  <% end %>
<% end %></div>
  <p>Search Again</p>
  <div class="search">
  <%= simple_form_for @subSearch, :url => { :action => "create" } do |f| %>
   <div class="search">
    <%= f.label "Search by School" %>
    <%= f.autocomplete_field :school_name, autocomplete_school_name_search_path  %>

    </div>
    <div>
      <%= f.label "Search by Subject", params[:search]  %>
      <%= f.autocomplete_field :subject_name, autocomplete_subject_name_search_path  %>
    </div>
    <div  class = "search">
    <%= f.label "Search by Course Number"%>
    <%= f.text_field :course_num %>

  </div>

  <div  class = "search">
    <%= f.label "Search by Course Name" %>
    <%= f.autocomplete_field :course_name,autocomplete_course_name_search_path  %>
  </div>

  <div  class = "search">
    <%= f.label "Search by Instuctor (last name, first name)" %>
    <%= f.text_field :prof_name  %>
  </div>
      <%= f.submit "Search", class: "btn btn-medium btn-success" %>
  <% end %>
  </div>

  <div>
    <p> Can't find what you're looking for? </p>
    <p> <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path%>
        and create a deck to study with specific to your school, subject, and course! </p>
  </div>

</body>
