<head>
</head>
<body>
  <h1>Results</h1>
  <div class="search">
  <%= simple_form_for @thing, :url => {:action => 'sort'} do |f| %>
    <%= f.label "Sort Results", params[:value]  %>
    <%= f.input :subject_name, :label => "", collection:['Rating', 'Author A-Z', 'Author Z-A',
      'Date Created', 'School', 'Professor' ] %>
    <%= f.submit "Sort", class: "btn btn-medium btn-success" %>
  <% end %>
  </div>
  <div><%= render partial: 'shared/result', collection: @results %></div>
  <p>Search Again</p>
  <div class="search">
  <%= simple_form_for @subSearch, :url => { :action => "create" } do |f| %>
   <div class="search">
    <%= f.label "Search by School" %>
    <%= f.autocomplete_field :school_name, autocomplete_school_name_search_path  %>

    </div>
    <div>
      <%= f.label "Search by Subject", params[:search]  %>
      <%= f.autocomplete_field :subject_name, autocomplete_subject_name_search_path  %>
    </div>
    <div  class = "search">
    <%= f.label "Search by Course Number"%>
    <%= f.text_field :course_num, :autofocus => true %>

  </div>

  <div  class = "search">
    <%= f.label "Search by Course Name" %>
    <%= f.autocomplete_field :course_name,autocomplete_course_name_search_path  %>
  </div>

  <div  class = "search">
    <%= f.label "Search by Instuctor (last name, first name)" %>
    <%= f.text_field :prof_name  %>
  </div>
      <%= f.submit "Search", class: "btn btn-medium btn-success" %>
  <% end %>
  </div>
</body>
