<h1>Search</h1>

<div class="search">
<%= simple_form_for @subSearch, :url => { :action => "create" } do |f| %>
  <div class="search">
    <%= f.label "Search by School" %>
   <% if !@user.nil? %>
    <%= f.autocomplete_field :subject_name, autocomplete_subject_name_search_path, :value => @user.school_name  %>
     <% else %>
    <%= f.autocomplete_field :subject_name, autocomplete_subject_name_search_path  %>
    <%end%>
  </div>
  
   <div class="search">
    <%= f.label "Search by Subject" %>
    <%= f.autocomplete_field :subject_name, autocomplete_subject_name_search_path  %>

  </div>

  <div  class = "search">
    <%= f.label "Search by Course Number"%>
    <%= f.text_field :course_num %>

  </div>

  <div  class = "search">
    <%= f.label "Search by Course Name" %>
    <%= f.autocomplete_field :course_name,autocomplete_course_name_search_path  %>
  </div>

  <div  class = "search">
    <%= f.label "Search by Instuctor (last name, first name)" %>
    <%= f.text_field :prof_name  %>
  </div>

   
 <%= f.submit "Search", class: "btn btn-medium btn-success" %>

<% end %>
</div>

<div>
    <p> Can't find what you're looking for? </p>
    <p> <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path%>
        and create a deck to study with specific to your school, subject, and course! </p>
  </div>


