<head>
</head>
<body>
  <table> 
    <tr>
      <td style = "width:185px">
        <table class = "deck">
          <tr style = "text-align: center">
            <td><p class ="cardTitle2"><%= decks.deckTitle %></p></td>
          </tr>
          <tr style = "text-align: center">
            <td>
              <% if !decks.courseName.nil? %>
                <p class="cardBody2"><%= decks.subjectName %> - <%= decks.courseNum %> - <%= decks.courseName %> </p>
              <% else %> 
                <p class="cardBody2"><%= decks.subjectName %> - <%= decks.courseNum %> </p>
              <% end %>
            </td>
          </tr>
        </table>
      </td>
      <td style = "width:8em; text-align:center">
        <% if Deckrating.where(deck_id: decks.deck_id).empty? %>
          <div class = 'likedText'> No ratings </div>
        <% else %>
          <% @liked = Deckrating.where(deck_id: decks.deck_id, liked: true).count %>
          <% @total = Deckrating.where(deck_id: decks.deck_id).count %>
          <% @percent = (@liked * 125 / @total) %>
          <% if @percent > 49 %>
            <div class = 'likedText', style = "color:#488F45"><%= @percent %>% liked </div>
          <% else %>
            <div class = 'likedText', style = "color:red"><%= @percent %>% liked </div>
          <% end %>
        <% end %>
      </td>
      <td style = "width:8em">
        <%= link_to "View this Deck ", deck_path(decks.deck_id), class: "btn btn-small btn-success" %>
      </td>
      <td style = "width:8em">
        <%= link_to "Edit this Deck", edit_deck_path(decks.deck_id), class: "btn btn-small btn-warning"%>
      </td>
      <td style = "width:8em">
        <%= link_to "Add/edit cards", new_card_path(:deck => decks.deck_id), class: "btn btn-small btn-info" %>
      </td>
      <td style = "width:8em">
        <%= link_to "Delete this Deck", decks, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %>
      </td>
    </tr>
  </table>
</body>
   
   