<head>
</head>
<body>
<div>
  <table> 
    <tr>
      <td style = "width:158px">
        <a href = "/decks/<%= decks.deck_id %>" style = "color:black;"><table class = "deck">
          <tr style = "text-align: center; height:4em;">
            <td>
                <p class ="cardTitle2">
                  <% if decks.deck_title.length <27 %>
                    <%= decks.deck_title %>
                  <% else %>
                    <%= decks.deck_title[0,27]%>...
                  <% end %>
                </p>
          </tr>
          <tr style = "text-align:center; vertical-align:top; padding-top: 5px;">
            <td>
              <p class="cardBody2"><%= decks.subject_name %>
              <% if !decks.course_num.blank? %>
                - <%= decks.course_num %>
               <% end %>
              <% if !decks.course_name.blank?  %> 
                <% if decks.course_name.length <27 %>
                    -<%= decks.course_name %>
                  <% else %>
                    -<%= decks.course_name[0,27]%>...
                  <% end %>
                <% end %>
              </p>
            </td>
          </tr>
            <tr>
              <td style = "width:8em; padding-left:60px;:right;vertical-align:bottom">
                <% if Deckrating.where(deck_id: decks.deck_id).empty? %>
                  <div class = 'likedText'> No ratings </div>
                <% else %>
                  <% @liked = Deckrating.where(deck_id: decks.deck_id, liked: true).count %>
                  <% @total = Deckrating.where(deck_id: decks.deck_id).count %>
                  <% @percent = (@liked * 100 / @total) %>
                  <% if @percent > 49 %>
                    <div class = 'likedText', style = "color:#0D55D1"><%= @percent %>% liked </div>
                  <% else %>
                    <div class = 'likedText', style = "color:red"><%= @percent %>% liked </div>
                  <% end %>
                <% end %>
              </td>
            </tr>
        </table> </a>
      <td style = "vertical-align: top;">
        <table style = "vertical-align: top;">
          <tr>
            </tr>
            <% if !@user.nil? && @userID == decks.user_id %>
              <td style = "width:8em">
                <div class = "hover">
                <%= link_to image_tag('edit.png'), edit_deck_path(decks.deck_id), class: "btn btn-small btn-warning"%>
                <div class = "tooltip" style = "width:8em; top:25px">
              Deck properties
            </div>
          </div>
              </td>
              <% else %>
              <td style = "width:8em">
              </td>
            <% end %>
            </tr>
            <tr>
              <% if !@user.nil? && @userID == decks.user_id %>
              <td style = "width:8em">
                <div class = "hover">
                <%= link_to image_tag('add.png'), new_card_path(:deck => decks.deck_id), class: "btn btn-small btn-info" %>
                 <div class = "tooltip" style = "width:7em; top:25px">
              Add/edit cards
            </div>
          </div>
              </td>
              <% end %>
            </tr>
            <tr>
              <% if !@user.nil? && @userID == decks.user_id %>
              <td style = "width:8em">
                <div class = "hover">
               <%= link_to image_tag('delete.png', :title=>"Delete this deck"), decks, method: :delete, data: { confirm: "Are you sure you want to delete this deck?" }, class: "btn btn-small btn-danger" %>
               <div class = "tooltip" style = "width:7.5em; top:25px">
              Delete this deck
            </div>
          </div>
              </td>
              <% end %>
            </tr>
          </table>
        </td>
      </td>
    </tr>
   
  </table>
</div>
</br>
</body>
   
   