    <div>
    <h2> <%= decks.deckTitle %> </h2>
    </div>
   
    <% if !decks.courseName.nil? %>
        <div>
        <p class="ex4"><%= decks.subjectName %> - <%= decks.courseNum %> - <%= decks.courseName %> </p>
        </div>
    <% else %> 
        <div>
        <p class="ex4"><%= decks.subjectName %> - <%= decks.courseNum %> </p>
        </div>
    <% end %>

    <% if Deckrating.where(deck_id: decks.deck_id).empty? %>
        <p> No ratings </p>
    <% else %>

        <% @liked = Deckrating.where(deck_id: decks.deck_id, liked: true).count %>
        <% @total = Deckrating.where(deck_id: decks.deck_id).count %>
        <% @percent = (@liked * 100 / @total) %>
        <p><%= @percent %>% liked </p>
    <% end %>

   
    

    <%= link_to "View this Deck ", deck_path(decks.deck_id) %>
    <br/>
    <%= link_to "Edit this Deck", edit_deck_path(decks.deck_id)%>
     <br/>
    <%= link_to "Add/edit cards", new_card_path(:deck => decks.deck_id) %>
     <br/>
    <%= link_to "Delete this Deck", @deck, method: :delete, data: { confirm: "You sure?" } %>
    <br/>
   
   