<head>
</head>
<body>
<div>
  <table> 
    <tr>
      <td style = "width:158px">
        <table class = "deck">
          <tr style = "text-align: center">
            <td>
                <p class ="cardTitle2"><%= decks.deck_title %></p>
            </td>
          </tr>
          <tr style = "text-align: center">
            <td>
              <% if !decks.course_name.nil? %>
                <p class="cardBody2"><%= decks.subject_name %> - <%= decks.course_num %> - <%= decks.course_name %> </p>
              <% else %> 
                <p class="cardBody2"><%= decks.subject_name %> - <%= decks.course_num %> </p>
              <% end %>
            </td>
          </tr>
        </table>
      <td style = "vertical-align: top;">
        <table styel = "vertical-align: top;">
          <tr>
              <td style = "width:8em">
                <%= link_to image_tag('view.png', :title=>"View this deck"), deck_path(decks.deck_id),class: "btn btn-small btn-success" %>
              </td>
            </tr>
              <td style = "width:8em">
                <%= link_to image_tag('edit.png', :title=>"Deck properties"), edit_deck_path(decks.deck_id), class: "btn btn-small btn-warning"%>
              </td>
            </tr>
            <tr>
              <td style = "width:8em">
                <%= link_to image_tag('add.png', :title=>"Add/edit cards"), new_card_path(:deck => decks.deck_id), class: "btn btn-small btn-info" %>
              </td>
            </tr>
            <tr>
              <td style = "width:8em">
               <%= link_to image_tag('delete.png', :title=>"Delete this deck"), decks, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %>
              </td>
            </tr>
          </table>
        </td>
      </td>
    </tr>
    <tr>
       <td style = "width:8em; text-align:center">
        <% if Deckrating.where(deck_id: decks.deck_id).empty? %>
          <div class = 'likedText'> No ratings </div>
        <% else %>
          <% @liked = Deckrating.where(deck_id: decks.deck_id, liked: true).count %>
          <% @total = Deckrating.where(deck_id: decks.deck_id).count %>
          <% @percent = (@liked * 100 / @total) %>
          <% if @percent > 49 %>
            <div class = 'likedText', style = "color:#0D55D1"><%= @percent %>% liked </div>
          <% else %>
            <div class = 'likedText', style = "color:red"><%= @percent %>% liked </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
</br>
</body>
   
   