<head>
</head>
<body>
<div class="row", style = "border-bottom: 3px solid black">
  <table> 
    <tr>
      <td style = "width:158px">
        <table class = "deck">
          <tr style = "text-align: center; height:4em;">
            <td>
                <p class ="cardTitle2">
                  <% if decks.deck_title.length <27 %>
                    <%= decks.deck_title %>
                  <% else %>
                    <%= decks.deck_title[0,27]%>...
                  <% end %>
                </p>
            </td>
          </tr>
          <tr style = "text-align:center; vertical-align:top; padding-top: 5px;">
            <td>
              <p class="cardBody2"><%= decks.subject_name %>
              <% if !decks.course_num.blank? %>
                - <%= decks.course_num %>
               <% end %>
              <% if !decks.course_name.blank?  %> 
                <% if decks.course_name.length <27 %>
                    -<%= decks.course_name %>
                  <% else %>
                    -<%= decks.course_name[0,27]%>...
                  <% end %>
              <% end %>
              </p>
            </td>
          </tr>
        </table>
      </td>
      <td style = "width:8em; text-align:center">
        <% if Deckrating.where(deck_id: decks.deck_id).empty? %>
          <div class = 'likedText'> No ratings </div>
        <% else %>
          <% @liked = Deckrating.where(deck_id: decks.deck_id, liked: true).count %>
          <% @total = Deckrating.where(deck_id: decks.deck_id).count %>
          <% @percent = (@liked * 100 / @total) %>
          <% if @percent > 49 %>
            <div class = 'likedText', style = "color:#0D55D1"><%= @percent %>% liked </div>
          <% else %>
            <div class = 'likedText', style = "color:red"><%= @percent %>% liked </div>
          <% end %>
        <% end %>
      </td>
      <td style = "width:8em">
        <%= link_to "View this Deck ", deck_path(decks.deck_id), class: "btn btn-small btn-success" %>
      </td>
      <td style = "width:8em">
        <%= link_to "Deck Properties", edit_deck_path(decks.deck_id), class: "btn btn-small btn-warning"%>
      </td>
      <td style = "width:8em">
        <%= link_to "Add/edit cards", new_card_path(:deck => decks.deck_id), class: "btn btn-small btn-info" %>
      </td>
      <td style = "width:8em">
        <%= link_to "Delete this Deck", decks, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %>
      </td>
    </tr>
  </table>
</div>
</body>
   
   