    <div>
    <h2> <%= decks.deckTitle %> </h2>
    </div>
   
    <% if !decks.courseName.nil? %>
        <div>
        <p class="ex4"><%= decks.subjectName %> - <%= decks.courseNum %> - <%= decks.courseName %> </p>
        </div>
    <% else %> 
        <div>
        <p class="ex4"><%= decks.subjectName %> - <%= decks.courseNum %> </p>
        </div>
    <% end %>

   
    
    <%= link_to "Delete this Deck", @deck, method: :delete, data: { confirm: "You sure?" } %>
    <br/>
    <%= link_to "Add Card to this Deck", new_card_path(:deck => decks.deck_id) %>
     <br/>
    <%= link_to "View this Deck ", deck_path(decks.deck_id) %>

   