
<% @deck=Deck.find_by(deck_id: favorite.deck_id) %>


<div>
    <h2> <%= @deck.deckTitle %> </h2>
    </div>
   
    <% if !@deck.courseName.nil? %>
        <div>
        <p class="ex4"><%= @deck.subjectName %> - <%= @deck.courseNum %> - 
            <%= @deck.courseName %> </p>
        </div>
    <% else %> 
        <div>
        <p class="ex4"><%= @deck.subjectName %> - <%= @deck.courseNum %> </p>
        </div>
    <% end %>

   
    
    <%= link_to "Remove from Favorites", @favorite, method: :delete, 
    data: { confirm: "You sure?" } %>
    <br/>
    <%= link_to "View this Deck ", deck_path(favorite.deck_id) %>

        
   
    
   
   
