
<% @deck=Deck.find_by(deck_id: recent.deck_id) %>
<head>
</head>
<body>
  <% if !@deck.nil? %>
<div class="row">
  <br>

   <table>
    <tr>
      <td>
       <table> 
        <tr>
          <td style = "width:158px">
             <a href = "/decks/<%= @deck.deck_id %>" style = "color:black;"><table class = "deck<%= @deck.background%>">
              <tr style = "text-align: center; height:4em;">
                <td>
                    <p class ="cardTitle2">
                      <% if @deck.deck_title.length <27 %>
                        <%= @deck.deck_title %>
                      <% else %>
                        <%= @deck.deck_title[0,27]%>...
                      <% end %>
                    </p>
                  </td>
              </tr>
              <tr style = "text-align:center; vertical-align:top; padding-top: 5px;">
                <td>
                  <p class="cardBody2"><%= @deck.subject_name %>
                  <% if !@deck.course_num.blank? %>
                    - <%= @deck.course_num %>
                   <% end %>
                  <% if !@deck.course_name.blank?  %> 
                    <% if @deck.course_name.length <27 %>
                        -<%= @deck.course_name %>
                      <% else %>
                        -<%= @deck.course_name[0,27]%>...
                      <% end %>
                    <% end %>
                  </p>
                </td>
              </tr>
               <tr>
                  <td style = "width:8em; padding-left:60px; vertical-align: bottom;">
                    <% if Deckrating.where(deck_id: @deck.deck_id).empty? %>
                      <div class = 'likedText'> No ratings </div>
                    <% else %>
                      <% @liked = Deckrating.where(deck_id: @deck.deck_id, liked: true).count %>
                      <% @total = Deckrating.where(deck_id: @deck.deck_id).count %>
                      <% @percent = (@liked * 100 / @total) %>
                      <% if @percent > 49 %>
                        <div class = 'likedText', style = "color:#0D55D1"><%= @percent %>% liked </div>
                      <% else %>
                        <div class = 'likedText', style = "color:red"><%= @percent %>% liked </div>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
            </table> </a>
          </td>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>
            <table>
              <tr>
             <td class= "deckPartial" style = "width:150px;">
              <p class = 'cardTitle2' style = "vertical-align:top; text-align:left;"> 
                Created by
              </p>
                <p class = 'cardBody2' style = "vertical-align:top; text-align:left; margin-bottom: 0px">
                <% if !@deck.nil? %>
                  <% @username = User.find_by(user_id: @deck.user_id).username %>
                  <%= link_to @username, {:controller => "decks", :action => "thier_decks", :username => @username } %>
                <% end %>
              </p>
            </td>

            <td class= "deckPartial" style ="width:150px">
              <p class = 'cardTitle2' style = "vertical-align:top; text-align:left;"> 
                Created on
              </p>
              <p class = 'cardBody2' style = "vertical-align:top; text-align:left; margin-bottom: 0px"> 
                <%= @deck.created_on.strftime("%b-%d-%Y") %> 
              </p>
            </td>
           </tr>
          </table>
        </td>
          </tr>
          <tr>
            <td class= "deckPartial" style="width:300px">
              <p class = 'cardTitle2' style = "vertical-align:top; text-align:left;"> 
                School
              </p>
                <p class = 'cardBody2' style = "vertical-align:top; text-align:left; max-width: 300px; margin-bottom: 0px"> 
                <%if @deck.school_name.nil? %> 
                Unspecified
                <%else%> 
                <%= @deck.school_name %>
                <%end%>
                </p> 
            </td>

          </tr>
          <tr>
            <td class= "deckPartial">
              <p class = 'cardTitle2' style = "vertical-align:top; text-align:left;"> 
                Instructor 
              </p>
              <p class = 'cardBody2' style = "vertical-align:top; text-align:left; margin-bottom: 0px">
                <%if @deck.prof_name.nil? %> 
                Unspecified
                <%else%> 
                <%= @deck.prof_name %>
                <%end%> 
              </p>
            </td>
          </tr>
          <tr>
    <td>
    </td>
  </tr>
      </table>
    </td>
  </tr>
</table>
</div>
<% end %>
</body>