
<% @deck=Deck.find_by(deck_id: result.deck_id) %>
<head>
</head>
<body>
<div class="row", style = "border-bottom: 3px solid black">
   <table> 
    <tr>
      <td style = "width:158px">
        <a href = "/decks/<%= @deck.deck_id %>" style = "color:black;"> <table class = "deck">
          <tr style = "text-align: center">
            <td>
                <p class ="cardTitle2"><%= @deck.deck_title %></p>
            </td>
          </tr>
          <tr style = "text-align: center">
            <td>
              <% if !@deck.course_name.nil? && !@deck.course_name == "" %>
                <p class="cardBody2"><%= @deck.subject_name %> - <%= @deck.course_num %> - <%= @deck.course_name %> </p>
              <% else %> 
                <p class="cardBody2"><%= @deck.subject_name %> - <%= @deck.course_num %> </p>
              <% end %>
            </td>
          </tr>
        </table>
      </a>
      </td>
      <td class= "deckPartial">
        <div class = 'likedText'> 
          Created by: <br/> 
          <% if !@deck.nil? %>
            <% @username = User.find_by(user_id: @deck.user_id).username %>
            <%= link_to @username, {:controller => "decks", :action => "thier_decks", :username => @username } %>
          <% end %>
        </div>
      </td>
       <td class= "deckPartial">
        <div class = 'likedText'> 
          Created on: <br/> 
          <%= @deck.created_on.strftime("%b-%d-%Y") %> 
        </div>
      </td>
      <td class= "deckPartial" style="width:200px">
        <div class = 'likedText'> 
          School: <br/> 
          <%if @deck.school_name.nil? %> 
          Unspecified
          <%else%> 
          <%= @deck.school_name %>
          <%end%> 
        </div>
      </td>
      <td class= "deckPartial">
        <div class = 'likedText'> 
          Instructor: <br/> 
          <%if @deck.prof_name.nil? %> 
          Unspecified
          <%else%> 
          <%= @deck.prof_name %>
          <%end%> 
        </div>
      </td>
     
    </tr>
    <tr>
      <td style = "width:158px">
        <% if Deckrating.where(deck_id: @deck.deck_id).empty? %>
          <div class = 'likedText'> No ratings </div>
        <% else %>
          <% @liked = Deckrating.where(deck_id: @deck.deck_id, liked: true).count %>
          <% @total = Deckrating.where(deck_id: @deck.deck_id).count %>
          <% @percent = (@liked * 100 / @total) %>
          <% if @percent > 49 %>
            <div class = 'likedText', style = "color:#0D55D1"><%= @percent %>% liked </div>
          <% else %>
            <div class = 'likedText', style = "color:red"><%= @percent %>% liked </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
</body>