 <p class = "deckInfo"><div style = "font-weight: bold; font-size: 1.9em"> <%= @deck.deck_title %> </div>
     
        <%= @deck.subject_name %>
        
        <% if !@deck.course_num.blank? %>
           - <%= @deck.course_num %>
          <% end %>
        <% if !@deck.course_name.blank?  %> 
           - <%= @deck.course_name %> 
        <% end %>
      
        <% if !@deck.school_name.eql? "~N/A~" %>
         - <%= @deck.school_name %>
        <% end %>

        <% if !@deck.prof_name.blank? %>
         - <%= @deck.prof_name %>
        <% end %>

        - <%= @deck.created_on.strftime("%b-%d-%Y") %>
        </p>