<head>
	<script language="javascript" type="text/javascript">
		function CheckMaxlength(x)
		{
		      var max = parseInt(x.getAttribute('maxlength'));
		      var cur = x.value.length;

		      if ( x.getAttribute && cur > max )
		      {
		          x.value = x.value.substring(0, max);
		      }
		} 
</script>
</head>

<% if @deck.user_id == @userID %>
<h1> Edit this Card </h1>

<%= simple_form_for @card, :html => { :method => :put} do |f| %>

  <p> Fields marked with * are required </p>
  
  <div class = "hover">
  	<p>* Question</p> 
  	<%= f.text_area :qtext, :default => @card.qtext, :onkeyup => "CheckMaxlength(this);", :maxlength => 255  %>
  	<div class = "tooltip" style = "top:65px;">
        255 character limit
    </div>
  </div>

  <div class = "hover">
  	<p>* Answer</p> 
  	<%= f.text_area :atext, :default => @card.atext, :onkeyup => "CheckMaxlength(this);", :maxlength => 255 %>
  	<div class = "tooltip" style = "top:65px;">
        255 character limit
    </div>
  </div>

  <%= f.hidden_field :deck_id, :value => @card.deck_id %>
 

 <%= f.submit "Save Changes", class: "btn btn-medium btn-success" %>

 <%end%>
 <% end %>