<script>

CKEDITOR.replace( 'editor1',
    {
        customConfig : '/lib/cke_config.js'
    });


</script>



<% if @deck.user_id == @userID %>
<h1> Edit this Card </h1>

<%= simple_form_for @card, :html => { :method => :put} do |f| %>

  <p> Fields marked with * are required </p>
  <div class = "row">
    <div class = "col-sm-6">
      <%= f.input :qtext, :label => "Question", :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'}, :default => @card.qtext}%>
    </div>
    <div class = "col-sm-6">
      <%= f.input :atext, :label => "Answer", :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'}, :default => @card.atext } %>
    </div>
  </div>
  <%= f.hidden_field :deck_id, :value => @card.deck_id %>
  <br/>
  <%= f.submit "Save Changes", class: "btn btn-medium btn-success" %>
<% end %>
 <% end %>