<h1> Matt was here </h1>

<%= simple_form_for @card, :url => { :action => "edit" } do |f| %>

  <p> Fields marked with * are required </p>
  
  <div><%= f.label "Question *" %> <br />
  <%= f.text_area :qtext, :autofocus => true, :default => @card.qtext  %></div>

  <div><%= f.label "Answer *" %> <br />
  <%= f.text_area :atext, :autofocus => true, :default => @card.atext %></div>

  <%= f.hidden_field :deck_id, :value => @card.deck_id %>
 

 <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>

 <%end%>