<head>
 <script type="text/javascript">
        function showAns(){
          $("#showAnswer").show();
          $("#showAButton").hide();
        }
        function hideAns(){
            $("#showAnswer").hide();
            $("#showAButton").show();
        }
        </script>
</head>
<body>
<div>
    <p class="ex4"> <h1><b>Question:</b> </h1><br/><h2> <%= @card.qtext 
    %></h2>
        <br/>
        <div id="showAButton" ><p class="ex4"><button type="button" onclick="showAns()", class= "btn btn-small btn-primary">Show Answer</button></p>
        </p>            </div>
</div>
<div id="showAnswer", style= "display: none">
         <p class="ex4">
        <button type="button" onclick="hideAns()", class= "btn btn-small btn-primary">Hide Answer</button>
        <p class="ex4"> <h1><b>Answer:</b> </h1><br/><h2><%= @card.atext %></h2></p>        
</div> 



<% if SavedCard.find_by(:user_id => @userID, :card_id => @card.card_id).nil? %>

    <%= link_to "Save this Card", {:controller => "cards", :action => 'addfavorite', 
    :userID => @userID,:favid => @card.card_id} %>
     <br/>
     <% else %>
     
    <%= link_to "Un-save this Card", {:controller => "cards", :action => 'removefavorite', 
    :userID => @userID,:favid => @card.card_id} %>
    <br/>
     <% end %>
<%= link_to "Back to Deck", deck_path(@card.deck_id) %>
     <br/>


<% if !@card.nil? %>
<% if Deck.find_by(deck_id: @card.deck_id).user_id == @userID %>


    <%= link_to "Edit this Card", edit_card_path(@card.card_id)%>
     <br/>
     <%= link_to "Delete this Card", @card, method: :delete, data: { confirm: "You sure?" } %>
    <br/> 

<% end %>
<% end %>
