<h1> Question </h1>

<h2><%= @card.qtext %></h2>

<h1> Answer </h1>

<h2><%= @card.atext %></h2>


<% if SavedCard.find_by(:user_id => @userID, :card_id => @card.card_id).nil? %>

    <%= link_to "Save this Card", {:controller => "cards", :action => 'addfavorite', 
    :userID => @userID,:favid => @card.card_id} %>
     <br/>
     <% else %>
     
    <%= link_to "Un-save this Card", {:controller => "cards", :action => 'removefavorite', 
    :userID => @userID,:favid => @card.card_id} %>
    <br/>
     <% end %>
<%= link_to "Back to Deck", deck_path(@card.deck_id) %>
     <br/>


<% if !@card.nil? %>
<% if Deck.find_by(deck_id: @card.deck_id).user_id == @userID %>


    <%= link_to "Edit this Card", edit_card_path(@card.card_id)%>
     <br/>
     <%= link_to "Delete this Card", @card, method: :delete, data: { confirm: "You sure?" } %>
    <br/> 

<% end %>
<% end %>
