 <h1 class = "deckTitle"> <%= @deck.deckTitle %> </h1>
  <% if !@deck.courseName.nil? %>
    <h2 class = "deckInfo"><%= @deck.subjectname %> - <%= @deck.courseNum %> - <%= @deck.courseName %> </h2>
  <% else %> 
    <h2><%= @deck.subjectname %> - <%= @deck.courseNum %> </h2>
  <% end %>

<%= simple_form_for @deck, :html => { :method => :put} do |f| %>

  <p> Fields marked with * are required </p>
  
  <div  class = "search">
  <%= f.label "Title *" %> 
  E.g. "Bio Midterm 1" <br />

  <%= f.text_field :deckTitle, :autofocus => true, :default => @deck.deckTitle%></div>
  

  <div  class = "search">
    <%= f.label "School Name" %>
    <%= f.autocomplete_field :school_name, autocomplete_school_name_search_path, :default => @deck.school_name  %>

  </div>
  
  <div  class = "search">

  	<%= f.label "Subject *" %>
    <%= f.autocomplete_field :subjectname, autocomplete_subject_name_search_path  %>
  </div>

  <div  class = "search"><%= f.label "Course Number *" %><br />
  <%= f.text_field :courseNum, :autofocus => true, :default => @deck.courseNum %></div>

  <div  class = "search"><%= f.label "Course Name" %><br />
  <%= f.autocomplete_field :courseName, autocomplete_course_name_search_path, :default => @deck.courseName %></div>

  <p style= "font-size:10px;">Note: If either school, subject, and/or course name not found, a new entry will be created </p>

 <%= f.submit "Save Changes", class: "btn btn-medium btn-success" %>

 <% end %>
