 <h1 class = "deckTitle"> <%= @deck.deckTitle %> </h1>
  <% if !@deck.courseName.nil? %>
    <h2 class = "deckInfo"><%= @deck.subjectname %> - <%= @deck.courseNum %> - <%= @deck.courseName %> </h2>
  <% else %> 
    <h2><%= @deck.subjectname %> - <%= @deck.courseNum %> </h2>
  <% end %>

<%= simple_form_for @deck, :html => { :method => :put} do |f| %>

  <p> Fields marked with * are required </p>
  
  <div><%= f.label "Title *" %> 
  E.g. "Bio Midterm 1" <br />

  <%= f.text_field :deckTitle, :autofocus => true, :default => @deck.deckTitle%></div>

  
  <div>
  	<%= f.label "Subject" %>
    <%= f.input :subjectname, collection: ['Agroecology', 'Anthropology','Applied Science','Arts CoOp','Art History and Visual Culture',
    	'Astronomy','Biochemistry','Biology','Creative and Critical Studies',
    	'Chemistry','Computer Science','Creative Writing','Cultural Studies',
    	'Curriculum Studies','Digital Humanities','Educational Administration',
    	'English for Academic Purposes','Early Childhood Education',
    	'Economics','Educational Studies','Education','Earth & Environmental Sciences',
    	'English','Engineering','Environmental Sciences',
    	'Educational Psychology and Special Education','Educational Technology',
    	'Exchange Programs','Film','French','Geography','German',
    	'Gerontology','Greek','Gender and Womens Studies',
    	'Health Studies','Hebrew','Health-Interprofessional',
    	'History','Human Kinetics','Interdisciplinary Graduate Studies',
    	'Indigenous Studies','Japanese Studies','Latin','Language and Literacy Education',  
    	'Mathematics','Management Co-Op','Management','Music','Nursing','Philosophy','Physics',
    	'Political Science','Psychology','Science Co-Op','Sociology','Social Work','Spanish',
    	'Statistics','Sustainability','Theatre','Visiting Graduate Students','Visual Arts',
    	'Visiting Undergraduate Research Students'],
    	:default => @deck.subjectname , label:'' %>
  </div>

  <div><%= f.label "Course Number *" %><br />
  <%= f.text_field :courseNum, :autofocus => true, :default => @deck.courseNum %></div>

  <div><%= f.label "Course Name" %><br />
  <%= f.text_field :courseName, :autofocus => true, :default => @deck.courseName %></div>
 

 <%= f.submit "Save Changes", class: "btn btn-medium btn-success" %>

 <% end %>
