<head>
  <script language="javascript" type="text/javascript">
    function CheckMaxlength(x)
    {
          var max = parseInt(x.getAttribute('maxlength'));
          var cur = x.value.length;

          if ( x.getAttribute && cur > max )
          {
              x.value = x.value.substring(0, max);
          }
    } 
</script>
</head>
<body>
<h1> Create a Deck</h1>

<%= simple_form_for @deck, :url => { :action => "create" } do |f| %>

  <table>
    <tr>
      <td style = "vertical-align:top;">
        <div>
        <p> Please fill in as much as you can to help other users find your deck easier </p>
        <p> Fields marked with * are required </p>
        
        <div  class = "search">
        <p>* Title (50 character limit) </p> 
        

        <%= f.text_field :deck_title, :onkeyup => "CheckMaxlength(this);", :maxlength => 50%></div>

        <div  class = "search">

          <p>* Subject (40 character limit)</p>
          <%= f.autocomplete_field :subject_name, autocomplete_subject_name_search_path, :onkeyup => "CheckMaxlength(this);", :maxlength => 40  %>
        </div>
        

        <div  class = "search">
          <%= f.label "School Name" %>
          <%= f.autocomplete_field :school_name, autocomplete_school_name_search_path, :value => @school_name  %>

        </div>
        

        <div  class = "search"><%= f.label "Course Number (5 character limit) " %>
        <%= f.text_field :course_num, :onkeyup => "CheckMaxlength(this);", :maxlength => 5  %></div>

        <div  class = "search"><%= f.label "Course Name (70 character limit)" %>
        <%= f.autocomplete_field :course_name, autocomplete_course_name_search_path, :onkeyup => "CheckMaxlength(this);", :maxlength => 70 %></div>

         <div  class = "search">
          <%= f.label "Instructor (Last name, first name)" %>
          <%= f.text_field :prof_name %>

        </div>
       
        <p style= "font-size:10px;">Note: If either school, subject, and/or course name not found, a new entry will be created </p>

       <%= f.submit "Create Deck", class: "btn btn-medium btn-success" %>
       </div>

      </td>
      <td style = "padding-left:2em; vertical-align:top;">
      <%= f.label "Background image" %>
      <table>
        <tr>
          <td>
            
            <label for="deck_background_1">
            <%= image_tag('/assets/card1-6eb99ac61b498dd5de8d6a2ac9e359cc.jpg')  %>
            <%= f.radio_button :background, 1  %>
            </label>
          </td>
          <td>
            <label for="deck_background_2">
            <%= image_tag('/assets/card2-44898f1306913eed194696f4ba5d825d.png')  %>
            <%= f.radio_button :background, 2 %>
            </label>
          </td>
          <td>
            <label for="deck_background_3">
            <%= image_tag('/assets/card3-91370e66d7bf6782e80bbfc0bcb6b185.png')  %>
            <%= f.radio_button :background, 3  %>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label for="deck_background_4">
            <%= image_tag('/assets/card4-05a6a951b1d7dfa800801585a159e7d8.png')  %>
            <%= f.radio_button :background, 4  %>
            </label>
          </td>
          <td>
            <label for="deck_background_5">
            <%= image_tag('/assets/card5-aa8c004f6d145eb03020ae296543917d.png')  %>
            <%= f.radio_button :background, 5 %>
            </label>
          </td>
        </tr>
      </table>
        

  





      </td>
    </tr>
  </table>

<% end %>

</body>