<head>
  <script language="javascript" type="text/javascript">
    function CheckMaxlength(x)
    {
          var max = parseInt(x.getAttribute('maxlength'));
          var cur = x.value.length;

          if ( x.getAttribute && cur > max )
          {
              x.value = x.value.substring(0, max);
          }
    } 
</script>
</head>
<body>
<h1> Create a Deck</h1>

<%= simple_form_for @deck, :url => { :action => "create" } do |f| %>

  <p> Fields marked with * are required </p>
  
  <div  class = "search">
  <p>* Title (50 character limit) </p> 
  

  <%= f.text_field :deck_title, :autofocus => true, :onkeyup => "CheckMaxlength(this);", :maxlength => 50%></div>

  <div  class = "search">

    <p>* Subject (40 character limit)</p>
    <%= f.autocomplete_field :subject_name, autocomplete_subject_name_search_path, :onkeyup => "CheckMaxlength(this);", :maxlength => 40  %>
  </div>
  

  <div  class = "search">
    <%= f.label "School Name" %>
    <%= f.autocomplete_field :school_name, autocomplete_school_name_search_path, :default => @deck.school_name  %>

  </div>
  

  <div  class = "search"><%= f.label "Course Number (5 character limit) " %>
  <%= f.text_field :course_num, :autofocus => true, :onkeyup => "CheckMaxlength(this);", :maxlength => 5  %></div>

  <div  class = "search"><%= f.label "Course Name (70 character limit)" %>
  <%= f.autocomplete_field :course_name, autocomplete_course_name_search_path, :onkeyup => "CheckMaxlength(this);", :maxlength => 70 %></div>

   <div  class = "search">
    <%= f.label "Instructor (Last name, first name)" %>
    <%= f.text_field :prof_name %>

  </div>
 
  <p style= "font-size:10px;">Note: If either school, subject, and/or course name not found, a new entry will be created </p>

 <%= f.submit "Create Deck", class: "btn btn-medium btn-success" %>

<% end %>
</body>