<h1> <%= @deck.deckTitle %> </h1>
 <% if !@deck.courseName.nil? %>
       
        <h2><%= @deck.subjectName %> - <%= @deck.courseNum %> - <%= @deck.courseName %> </h2>
        
    <% else %> 
        
        <h2><%= @deck.subjectName %> - <%= @deck.courseNum %> </h2>
        
    <% end %>


    <% if Deckrating.where(deck_id: @deck.deck_id).empty? %>
        <p> No ratings </p>
    <% else %>

        <% @liked = Deckrating.where(deck_id: @deck.deck_id, liked: true).count %>
        <% @total = Deckrating.where(deck_id: @deck.deck_id).count %>
        <% @percent = (@liked * 100 / @total) %>
        <p><%= @percent %>% liked </p>
    <% end %>


    <% if SavedDeck.find_by(:user_id => @userID, :deck_id => @deck.deck_id).nil? %>

    <%= link_to "Save this Deck", {:controller => "decks", :action => 'addfavorite', 
    :userID => @userID,:favid => @deck.deck_id} %>
     <br/>
     <% else %>
     
    <%= link_to "Un-Save this Deck", {:controller => "decks", :action => 'removefavorite', 
    :userID => @userID,:favid => @deck.deck_id} %>
    <br/>
     <% end %>
    
     <%  if Deckrating.find_by(deck_id: @deck.deck_id, user_id: @userID).nil? %>
         <p> <%= link_to "Like", {:controller => "decks", :action => 'rate', 
        :userID => @userID,:liked => true, :deckID => @deck.deck_id} %> / 
        <%= link_to "Dislike", {:controller => "decks", :action => 'rate', 
        :userID => @userID,:liked => false, :deckID => @deck.deck_id} %> </p>

    <% else %>
        <%  if Deckrating.find_by(deck_id: @deck.deck_id, user_id: @userID).liked == true %>
        <p> Deck liked. <%= link_to "Dislike", {:controller => "decks", :action => 'rate', 
         :userID => @userID,:liked => false, :deckID => @deck.deck_id} %> 
          </p> 
        <% else %>
        <p> Deck disliked. <%= link_to "Like", {:controller => "decks", :action => 'rate', 
        :userID => @userID,:liked => true, :deckID => @deck.deck_id} %>  </p> 
        <% end %>
        <%= link_to "Unrate", {:controller => "decks", :action => 'unrate', 
         :userID => @userID, :deckID => @deck.deck_id} %>
    <% end %>



    <div><%= render partial: 'shared/cards', collection: @cards %></div>
