<head>
 <script type="text/javascript">
        function showAns(){
          $("#showAnswer").show();
          $("#hideAnswer").hide();
          $("#hideAButton").show();
          $("#showAButton").hide();
        }
        function hideAns(){
          $("#showAnswer").hide();
          $("#hideAnswer").show();
          $("#hideAButton").hide();
          $("#showAButton").show();
        }
  </script>
</head>
<body>
  
    <%= render partial: 'shared/title'%>
      
  <table class= "presentDeck">
    <tr>
      <td class = "ratingscol">
        <% if user_signed_in? %>
          <% if Deckrating.where(deck_id: @deck.deck_id).empty? %>
            <div class = 'likedText' style = "text-align:left;"> No ratings </div>
          <% else %>
            <% @liked = Deckrating.where(deck_id: @deck.deck_id, liked: true).count %>
            <% @total = Deckrating.where(deck_id: @deck.deck_id).count %>
            <% @percent = (@liked * 100 / @total) %>
            <% if @percent > 49 %>
              <div class = 'likedText', style = "color:#0D55D1;text-align:left;"><%= @percent %>% liked </div>
            <% else %>
              <div class = 'likedText', style = "color:red;text-align:left;"><%= @percent %>% liked </div>
            <% end %>
          <% end %>
          <% if Deckrating.find_by(deck_id: @deck.deck_id, user_id: @userID).nil? %>
            <p> 
              <%= link_to image_tag('like.png', :title=>"Like"), {:controller => "decks", :action => 'rate', :userID => @userID,:liked => true, :deckID => @deck.deck_id, :count => @count}, class: "btn btn-small btn-primary"%> 
              <%= link_to image_tag('dislike.png', :title=>"Dislike"), {:controller => "decks", :action => 'rate', :userID => @userID,:liked => false, :deckID => @deck.deck_id, :count => @count}, class: "btn btn-small btn-danger" %>
            </p>
          <% else %>
            <% if Deckrating.find_by(deck_id: @deck.deck_id, user_id: @userID).liked == true %>
              <div class = 'likedText' style = "text-align:left;">
                Deck liked
              </div> 
              <%= link_to image_tag('dislike.png', :title=>"Dislike"), {:controller => "decks", :action => 'rate',:userID => @userID,:liked => false, :deckID => @deck.deck_id, :count => @count}, class: "btn btn-small btn-danger" %> 
            <% else %>
              <div class = 'likedText' style = "text-align:left;">
                Deck disliked
              </div> 
              <%= link_to image_tag('like.png', :title=>"Dislike"), {:controller => "decks", :action => 'rate', :userID => @userID,:liked => true, :deckID => @deck.deck_id, :count => @count}, class: "btn btn-small btn-primary" %>  
            <% end %>
            <%= link_to "Unrate", {:controller => "decks", :action => 'unrate', :userID => @userID, :deckID => @deck.deck_id, :count => @count}, class: "btn btn-small btn-warning" %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
    <% if !@cards.empty? && !@count.nil? %>
      <% @array = @cards.to_a %>
      <% card = @array.at(@count) %>
      <td>
        <table class = "questionCard">
          <tr>
            <td>
              <p class = "cardBody"> 
                <%= card.qtext %>
              </p>
            </td>
          </tr>
        </table>
      </td>
      <td class ="spacecol">
      </td>
      <td>
        <table id = "showAnswer" class = "answerCard" style= "display: none">
          <tr>
            <td>
             
                <p class = "cardBody"> 
                  <%= card.atext %>
                </p>
              
            </td>
          </tr>
        </table>
        <table class = "answerCard" id = "hideAnswer">
          <tr>
            <td>
              <p class = "cardTitle"> 
                Answer
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <table>
          <tr>
            <td style = "text-align:right; width:127px">
              <%= render 'shared/prev' %>
              <% if @count>0 %>
                <%= link_to image_tag('left.png', :title=>"Previous Card"), deck_path(card.deck_id, :count => @count-1), class: "btn btn-small btn-primary", :id => "prev_link"%>
              <% else %>
                <%= link_to image_tag('left.png', :title=>"Previous Card"), deck_path(card.deck_id, :count => @array.size-1), class: "btn btn-small btn-primary", :id => "prev_link"%>
              <% end %>
            </td>
            <td style = "text-align:center">
              <% @rand = rand(@array.size) %>
              <% while @count == @rand %>
                <% @rand = rand(@array.size) %>
              <% end %>
              <%= link_to image_tag('shuffle.png', :title=>"Random Card"), deck_path(card.deck_id, :count => @rand), class: "btn btn-small btn-primary", :id => "rand_link" %>
            </td>
            <td style = "text-align:left">
              <% if @count<(@array.size - 1) %>
                <%= link_to image_tag('next.png', :title=>"Next Card"), deck_path(card.deck_id, :count => @count+1), class: "btn btn-small btn-primary", :id => "next_link" %>
              <% else %>
                <%= link_to image_tag('next.png', :title=>"Next Card"), deck_path(card.deck_id, :count => 0), class: "btn btn-small btn-primary", :id => "next_link" %>
              <% end %>
            </td>
            <td>
            <div id="showAButton" >
              <button type="button" onclick="showAns()", class= "btn btn-small btn-primary">
                <%=image_tag('view.png', :title=>"Show Answer")%>
              </button>
              <%= render 'shared/show' %>
            </div>
            <div id="hideAButton", style = "display: none" >
              <button type="button" onclick="hideAns()", class= "btn btn-small btn-danger">
                <%=image_tag('hide.png', :title=>"Hide Answer")%>
              </button>
            </div>
            </td>
          </tr>
        </table>
      </td>
      <td class ="spacecol">
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>
      </td>
    <% else %>
      <td>
        <table class = "questionCard">
          <tr>
            <td>
              <p class = "cardTitle"> 
                Question
              </p>
            </td>
          </tr>
        </table>
      </td>
      <td class ="spacecol">
      </td>
      <td>
        <table class = "answerCard">
          <tr>
            <td>
              <p class = "cardTitle"> 
                Answer
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <%= link_to image_tag('play.png', :title=>"Start studying"), deck_path(@deck.deck_id, :count => 0), class: "btn btn-medium btn-primary" %>
      </td>
      <td>
      </td>
    <% end %>    
    </tr> 
  </table>
  <br/>
  <table>
    <tr>
       <td>
        <% if user_signed_in? %>
          <% if SavedDeck.find_by(:user_id => @userID, :deck_id => @deck.deck_id).nil? %>
            <%= link_to image_tag('save.png', :title=>"Save this Deck"), {:controller => "decks", :action => 'addfavorite',:userID => @userID,:favid => @deck.deck_id, :count => @count}, class: "btn btn-small btn-success" %>
          <% else %>
            <%= link_to image_tag('unsave.png', :title=>"Un-Save this Deck"), {:controller => "decks", :action => 'removefavorite', :userID => @userID,:favid => @deck.deck_id, :count => @count}, class: "btn btn-small btn-warning" %>
          <% end %>
        <% end %>
      </td>
      <% if !card.nil? && Deck.find_by(deck_id: card.deck_id).user_id == @userID %>
        <td>
            <%= link_to image_tag('edit.png', :title=>"Edit this card"), {:controller => "cards", :action => 'edit', :count => @count, :id => card.card_id}, class: "btn btn-small btn-info"%>
            <%= link_to image_tag('delete.png', :title=>"Delete this card"), card, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %>
        </td>
        <td style="width:21em"></td>
      <% else %>
        <td style="width:37.5em"></td>
      <% end %>
      <td>
        <div class = "howto">
          Right Arrow - Next &nbsp&nbsp
          Left Arrow  - Previous &nbsp&nbsp
          Enter - Show/hide answer &nbsp&nbsp
          Shift - Random
        </div>
      </td>
    </tr>
  </table>
</body>



