<head>
 <script type="text/javascript">
        function showAns(){
          $("#showAnswer").show();
          $("#hideAnswer").hide();
          $("#hideAButton").show();
          $("#showAButton").hide();
        }
        function hideAns(){
          $("#showAnswer").hide();
          $("#hideAnswer").show();
          $("#hideAButton").hide();
          $("#showAButton").show();
        }
  </script>
</head>
<body>
  <h1 class = "deckTitle"> <%= @deck.deckTitle %> </h1>
  <% if !@deck.courseName.nil? %>
    <h2 class = "deckInfo"><%= @deck.subjectname %> - <%= @deck.courseNum %> - <%= @deck.courseName %> </h2>
  <% else %> 
    <h2><%= @deck.subjectname %> - <%= @deck.courseNum %> </h2>
  <% end %>
  <table class= "presentDeck">
    <tr>
      <td class = "ratingscol">
        <% if user_signed_in? %>
          <% if Deckrating.where(deck_id: @deck.deck_id).empty? %>
            <div class = 'likedText'> No ratings </div>
          <% else %>
            <% @liked = Deckrating.where(deck_id: @deck.deck_id, liked: true).count %>
            <% @total = Deckrating.where(deck_id: @deck.deck_id).count %>
            <% @percent = (@liked * 100 / @total) %>
            <% if @percent > 49 %>
              <div class = 'likedText', style = "color:#0D55D1"><%= @percent %>% liked </div>
            <% else %>
              <div class = 'likedText', style = "color:red"><%= @percent %>% liked </div>
            <% end %>
          <% end %>
          <% if Deckrating.find_by(deck_id: @deck.deck_id, user_id: @userID).nil? %>
            <p> 
              <%= link_to "Like", {:controller => "decks", :action => 'rate', :userID => @userID,:liked => true, :deckID => @deck.deck_id, :count => @count}, class: "btn btn-small btn-success"%> 
              <%= link_to "Dislike", {:controller => "decks", :action => 'rate', :userID => @userID,:liked => false, :deckID => @deck.deck_id, :count => @count}, class: "btn btn-small btn-danger" %>
            </p>
          <% else %>
            <% if Deckrating.find_by(deck_id: @deck.deck_id, user_id: @userID).liked == true %>
              <div class = 'likedText'>
                Deck liked
              </div> 
              <%= link_to "Dislike", {:controller => "decks", :action => 'rate',:userID => @userID,:liked => false, :deckID => @deck.deck_id, :count => @count}, class: "btn btn-small btn-danger" %> 
            <% else %>
              <div class = 'likedText'>
                Deck disliked
              </div> 
              <%= link_to "Like", {:controller => "decks", :action => 'rate', :userID => @userID,:liked => true, :deckID => @deck.deck_id, :count => @count}, class: "btn btn-small btn-success" %>  
            <% end %>
            <%= link_to "Unrate", {:controller => "decks", :action => 'unrate', :userID => @userID, :deckID => @deck.deck_id, :count => @count}, class: "btn btn-small btn-warning" %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
    <% if !@cards.empty? && !@count.nil? %>
      <% @array = @cards.to_a %>
      <% card = @array.at(@count) %>
      <td>
        <table class = "questionCard">
          <tr>
            <td>
              <p class = "cardBody"> 
                <%= card.qtext %>
              </p>
            </td>
          </tr>
        </table>
      </td>
      <td class ="spacecol">
      </td>
      <td>
        <table class = "answerCard">
          <tr>
            <td>
              <div id="hideAnswer">
                <p class = "cardTitle"> 
                  Answer
                </p>
              </div>
              <div id="showAnswer", style= "display: none">
                <p class = "cardBody"> 
                  <%= card.atext %>
                </p>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <table>
          <tr>
            <td style = "text-align:right; width:174px">
              <%= render 'shared/prev' %>
              <% if @count>0 %>
                <%= link_to "Previous", deck_path(card.deck_id, :count => @count-1), class: "btn btn-medium btn-primary", :id => "prev_link"%>
              <% else %>
                <%= link_to "Previous", deck_path(card.deck_id, :count => @array.size-1), class: "btn btn-medium btn-primary", :id => "prev_link"%>
              <% end %>
            </td>
            <td style = "text-align:left">
              <% if @count<(@array.size - 1) %>
                <%= link_to "Next", deck_path(card.deck_id, :count => @count+1), class: "btn btn-medium btn-primary", :id => "next_link" %>
              <% else %>
                <%= link_to "Next", deck_path(card.deck_id, :count => 0), class: "btn btn-medium btn-primary", :id => "next_link" %>
              <% end %>
            </td>
          </tr>
        </table>
      </td>
      <td class ="spacecol">
      </td>
      <td>
        <div id="showAButton" >
          <button type="button" onclick="showAns()", class= "btn btn-small btn-success">
            Show Answer
          </button>
          <%= render 'shared/show' %>
        </div>
        <div id="hideAButton", style = "display: none" >
          <button type="button" onclick="hideAns()", class= "btn btn-small btn-danger">
            Hide Answer
          </button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td style = "text-align:center">
        <% @rand = rand(@array.size) %>
        <% while @count == @rand %>
          <% @rand = rand(@array.size) %>
        <% end %>
        <%= link_to "Random", deck_path(card.deck_id, :count => @rand), class: "btn btn-medium btn-primary", :id => "rand_link" %>
      </td>
      <td>
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>
        <% if user_signed_in? %>
          <% if SavedDeck.find_by(:user_id => @userID, :deck_id => @deck.deck_id).nil? %>
            <%= link_to "Save this Deck", {:controller => "decks", :action => 'addfavorite',:userID => @userID,:favid => @deck.deck_id}, class: "btn btn-small btn-info" %>
          <% else %>
            <%= link_to "Un-Save this Deck", {:controller => "decks", :action => 'removefavorite', :userID => @userID,:favid => @deck.deck_id}, class: "btn btn-small btn-danger" %>
          <% end %>
        <% end %>
      </td>
    <% else %>
      <td>
        <table class = "questionCard">
          <tr>
            <td>
              <p class = "cardTitle"> 
                Question
              </p>
            </td>
          </tr>
        </table>
      </td>
      <td class ="spacecol">
      </td>
      <td>
        <table class = "answerCard">
          <tr>
            <td>
              <p class = "cardTitle"> 
                Answer
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <%= link_to "Start", deck_path(@deck.deck_id, :count => 0), class: "btn btn-medium btn-primary" %>
      </td>
      <td>
      </td>
    <% end %>    
    </tr> 
  </table>
  <br/>
  <% if !card.nil? %>
    <% if Deck.find_by(deck_id: card.deck_id).user_id == @userID %>
      <%= link_to "Edit this Card", edit_card_path(card.card_id), class: "btn btn-small btn-info"%>
      <%= link_to "Delete this Card", card, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %>
    <% end %>
  <% end %>  
</body>



