<h1>Your Decks</h1>

<% if user_signed_in? %>
    	<div class="row", style = "border-bottom: 3px solid black">
  			<%= link_to'Create a Deck', '/decks', class: "btn btn-medium btn-success"  %>  
  			<br/>
  			<br/>
   		</div>
	
	<% if @decks.any? %>
		  <div>
		  	<% @count = 0
		  	%><%@deck1 = Deck.where(id: 0)
		  	%><%@deck2 = Deck.where(id: 0)
		  	%><%@deck3 = Deck.where(id: 0)
		  	%><%@deck4 = Deck.where(id: 0)
		  	%><%@decks.each do |d|
			  	%><%if(@count % 4 == 0)
			  	 	%><%@deck1.push(d)
			  	%><%elsif(@count % 4 == 1)
			  	   	%><%@deck2.push(d)
			  	%><%elsif(@count % 4 == 2)
			  	   	%><%@deck3.push(d)
			  	%><%else
			  	  	%><%@deck4.push(d)
			  	%>
			  	<% end %>
			  	<% @count += 1 %>
			<% end %>
		  	<div class = "row" style= "align: center">
		  		<div class = "col-sm-3" >
					<%= render partial: 'shared/decks', collection: @deck1 %>
				</div>
				<div class = "col-sm-3" >
					<%= render partial: 'shared/decks', collection: @deck2 %>
				</div>
				<div class = "col-sm-3" >
					<%= render partial: 'shared/decks', collection: @deck3 %>
				</div>
				<div class = "col-sm-3" >
					<%= render partial: 'shared/decks', collection: @deck4 %>
				</div>
			</div>
		  </div>
		  <%= will_paginate @decks %>
	<% end %>
<% end %>