<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Duncan Szarmes", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path, id: "brand" %></li>
          <li><%= link_to "Portfolio", portfolio_path, id: "brand" %></li>
          <li><%= link_to "Work", work_path, id: "brand" %></li>
          <li><%= link_to "References", references_path, id: "brand" %></li>
          <li><%= link_to "Help", help_path, id: "brand" %></li>
          <li><%= link_to "Contact", contact_path, id: "brand" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>